Repository KarolLeb/rpg-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem", cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

.lintstagedrc.json:

{
  "backend/src/**/*.java": [
    "cmd /c \"cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem\"",
    "cmd /c \"cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem\""
  ],
  "frontend/src/**/*.{ts,html}": [
    "cmd /c \"cd frontend && npm run lint & rem\"",
    "cmd /c \"cd frontend && npm run test:unit & rem\""
  ]
}

refactor(backend): fix maintainability and mutation testing survivors
  backend/pom.xml
  backend/src/main/java/com/rpgmanager/backend/config/AppConfig.java
  backend/src/main/java/com/rpgmanager/backend/dice/DiceService.java
  backend/src/test/java/com/rpgmanager/backend/auth/AuthControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/auth/AuthServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/campaign/application/mapper/CampaignApplicationMapperTest.java
  backend/src/test/java/com/rpgmanager/backend/campaign/application/service/CampaignApplicationServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/character/application/mapper/CharacterApplicationMapperTest.java
  backend/src/test/java/com/rpgmanager/backend/character/application/service/CharacterApplicationServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/character/infrastructure/adapter/outgoing/persistence/CharacterPersistenceAdapterTest.java
  backend/src/test/java/com/rpgmanager/backend/character/infrastructure/mapper/CharacterPersistenceMapperTest.java
  backend/src/test/java/com/rpgmanager/backend/dice/DiceServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/security/JwtFilterTest.java
  backend/src/test/java/com/rpgmanager/backend/security/JwtUtilTest.java
  backend/src/test/java/com/rpgmanager/backend/session/SessionControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/session/SessionServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/style/StyleServiceTest.java
  backend/src/test/java/com/rpgmanager/backend/user/infrastructure/mapper/UserPersistenceMapperTest.java
  plans/TODO.md
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem"

build(quality): optimize SonarQube metadata and increase quality thresholds
  backend/pom.xml
  scripts/convert-pitest-to-sonar.js
Due: none

refactor(quality): standardize SonarQube workflows and integrate frontend mutation tests
  GEMINI.md
  README.md
  docs/engineering/development-setup.md
  frontend/.gitignore
  frontend/sonar-project.properties
  package.json
  scripts/convert-stryker-to-sonar.js
Due: none

refactor(quality): fix frontend Quality Gate violations and harden test suite
  backend/pom.xml
  backend/src/main/java/com/rpgmanager/backend/campaign/infrastructure/adapter/outgoing/persist/CampaignPersistenceAdapter.java
  backend/src/main/java/com/rpgmanager/backend/security/JwtUtil.java
  backend/src/test/java/com/rpgmanager/backend/campaign/infrastructure/adapter/outgoing/persist/CampaignPersistenceAdapterTest.java
  backend/src/test/java/com/rpgmanager/backend/security/JwtUtilTest.java
  backend/src/test/java/com/rpgmanager/backend/session/SessionTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/character.service.spec.ts
  frontend/src/app/features/auth/register/register.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.ts
  frontend/stryker.config.json
  package.json
  scripts/convert-pitest-to-sonar.js
  scripts/convert-stryker-to-sonar.js
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem", cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

refactor: fix mutation survivor in SessionService and update tests
  backend/src/test/java/com/rpgmanager/backend/session/SessionServiceTest.java
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem"

fix(frontend): add missing isLoading property to CampaignFormComponent and update tests
  frontend/src/app/features/campaign/campaign-form.component.html
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

refactor(backend): move Pitest Sonar properties to mutation profile and update package.json
  backend/pom.xml
  package.json
Due: none

test(frontend): fix mutation testing issues in core components
  frontend/src/app/features/auth/login/login.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
  frontend/src/app/features/campaign/campaign-list.component.spec.ts
  frontend/src/app/features/dashboard/dashboard.component.spec.ts
  frontend/src/app/features/dashboard/player-dashboard/player-dashboard.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

chore: ignore mutation testing log files
  .gitignore
Due: none

chore(backend): enhance code quality enforcement
  backend/checkstyle.xml
  backend/pom.xml
  backend/src/main/resources/checkstyle-suppressions.xml
  backend/src/test/java/com/rpgmanager/backend/architecture/HexagonalArchitectureTest.java
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem"

chore(frontend): strengthen quality tools
  frontend/.eslintrc.json
  frontend/stryker.config.json
  scripts/convert-stryker-to-sonar.js
Due: none

feat(frontend): enhance auth module and test coverage
  frontend/src/app/core/guards/auth.guard.spec.ts
  frontend/src/app/core/interceptors/jwt.interceptor.spec.ts
  frontend/src/app/core/models/auth.model.ts
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/features/auth/register/register.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

feat(frontend): enhance campaign/character features and coverage
  frontend/src/app/core/services/campaign.service.spec.ts
  frontend/src/app/core/services/character.service.spec.ts
  frontend/src/app/features/attribute-card/attribute-card.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.ts
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): improve app config and route tests
  frontend/src/app/app.config.spec.ts
  frontend/src/app/app.routes.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

chore: update .gitignore to exclude all log files
  .gitignore
Due: none

docs: add Model Context Protocol (MCP) setup guide.
  docs/engineering/mcp-setup-guide.md
Due: none

fix(frontend): resolve CharacterSheet crash and improve mutation coverage
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/campaign.service.spec.ts
  frontend/src/app/core/services/character.service.spec.ts
  frontend/src/app/features/attribute-card/attribute-card.component.spec.ts
  frontend/src/app/features/auth/login/login.component.spec.ts
  frontend/src/app/features/auth/register/register.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
  frontend/src/app/features/campaign/campaign-list.component.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.ts
  frontend/src/app/features/dashboard/dashboard.component.spec.ts
  frontend/src/app/features/dashboard/player-dashboard/player-dashboard.component.spec.ts
  frontend/stryker.config.json
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

fix(frontend): resolve CharacterSheet crash and improve test robustness to kill mutation survivors
  frontend/src/app/core/interceptors/jwt.interceptor.spec.ts
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/character.service.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): strengthen unit tests to kill survived mutations in AuthService and CampaignForm
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

fix(backend): include checkstyle.xml in Docker build context
  backend/Dockerfile
Due: none

fix(frontend): resolve security vulnerabilities and peer dependency conflicts
  frontend/package-lock.json
  frontend/package.json
Due: none

test(frontend): achieve 100% mutation coverage for AuthService and harden logic
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/auth.service.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): stabilize mutation tests and harden character sheet logic
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.ts
  frontend/stryker.config.json
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): harden character sheet logic and improve mutation test coverage
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
  frontend/src/app/features/character-sheet/character-sheet.component.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): kill survived mutations in character sheet by verifying attribute labels
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): improve character sheet test robustness and mutation coverage
  frontend/src/app/features/character-sheet/character-sheet.component.spec.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

test(frontend): fix campaign form tests and improve reliability
  frontend/src/app/features/campaign/campaign-form.component.spec.ts
  frontend/src/app/features/campaign/campaign-form.component.ts
Due: cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

ci(quality): automate mutation report conversion and improve script robustness
  frontend/package.json
  package.json
  scripts/convert-pitest-to-sonar.js
  scripts/convert-stryker-to-sonar.js
Due: none

security(core): harden configuration and externalize sensitive credentials
  backend/src/main/java/com/rpgmanager/backend/config/SecurityConfig.java
  backend/src/main/resources/application.yaml
  dev-tools/docker-compose.yml
  docker/docker-compose.yml
  frontend/src/index.html
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem", cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

ci(backend): fix Pitest execution in GitHub Actions by adding compilation step
  .github/workflows/ci.yml
  .github/workflows/scheduled-mutation-testing.yml
Due: none

docs(plans): archive completed plans and update roadmap milestones
  plans/ROADMAP.md
  plans/TODO.md
  plans/archive/frontend-mutation-testing.md
Due: none

chore(infra): separate monitoring stack from dev-tools
  dev-tools/docker-compose.yml
  docs/engineering/development-setup.md
  monitoring/docker-compose.yml
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/dashboards/jvm-micrometer.json
  monitoring/grafana/provisioning/datasources/datasource.yml
  monitoring/prometheus.yml
Due: none

chore(infra): rename core infrastructure directory to app-infra
  README.md
  app-infra/.gitignore
  app-infra/docker-compose.yml
  docs/engineering/development-setup.md
  frontend/README.md
Due: none

chore(monitoring): update default grafana dashboard settings
  backend/src/main/java/com/rpgmanager/backend/config/SecurityConfig.java
  monitoring/grafana/provisioning/dashboards/jvm-micrometer.json
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem"

feat(monitoring): add observability for postgres, redis, and containers
  app-infra/docker-compose.yml
  monitoring/docker-compose.yml
  monitoring/grafana/provisioning/dashboards/cadvisor.json
  monitoring/grafana/provisioning/dashboards/postgresql.json
  monitoring/grafana/provisioning/dashboards/redis.json
  monitoring/prometheus.yml
  plans/TODO.md
Due: none

fix(security): resolve CORS and 401 errors for frontend integration
  backend/src/main/java/com/rpgmanager/backend/config/SecurityConfig.java
  backend/src/main/java/com/rpgmanager/backend/config/WebConfig.java
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem"

feat(security): implement browser navigation blocking and improve app portability
  backend/src/main/java/com/rpgmanager/backend/config/SecurityConfig.java
  backend/src/main/java/com/rpgmanager/backend/config/SecurityProperties.java
  backend/src/main/java/com/rpgmanager/backend/config/WebConfig.java
  backend/src/main/java/com/rpgmanager/backend/security/BrowserNavigationFilter.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/com/rpgmanager/backend/config/SecurityConfigTest.java
  frontend/Dockerfile
  frontend/proxy.conf.json
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/campaign.service.ts
  frontend/src/app/core/services/character.service.ts
  frontend/src/index.html
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem", cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

fix(test): resolve backend build failures and frontend URL mismatches
  backend/src/test/java/com/rpgmanager/backend/admin/AdminControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/auth/AuthControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/campaign/infrastructure/adapter/in/web/CampaignControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/character/CharacterControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/config/SecurityConfigTest.java
  backend/src/test/java/com/rpgmanager/backend/dice/DiceControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/security/BrowserNavigationFilterTest.java
  backend/src/test/java/com/rpgmanager/backend/session/SessionControllerTest.java
  backend/src/test/java/com/rpgmanager/backend/style/StyleControllerTest.java
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/campaign.service.spec.ts
  frontend/src/app/core/services/character.service.spec.ts
Due: cmd /c "cd backend && mvnw.cmd -q -B spotless:apply -Dspotless.check.skip=true & rem", cmd /c "cd backend && mvnw.cmd -q -B test -Dgroups=unit & rem", cmd /c "cd frontend && npm run lint & rem", cmd /c "cd frontend && npm run test:unit & rem"

refactor(repo): reorganize project root and unify configuration
  .github/.actrc
  .github/husky/pre-commit
  .github/scripts/convert-pitest-to-sonar.js
  .github/scripts/convert-stryker-to-sonar.js
  .github/scripts/enforce-coverage.js
  .github/scripts/validate-policy.js
  .github/workflows/ci.yml
  .lintstagedrc.json
  GEMINI.md
  README.md
  docs/engineering/development-setup.md
  docs/engineering/mcp-setup-guide.md
  frontend/README.md
  frontend/angular.json
  frontend/config/karma.conf.js
  frontend/config/proxy.conf.json
  frontend/config/stryker.config.json
  frontend/package.json
  infra/app/.gitignore
  infra/app/docker-compose.yml
  infra/dev/docker-compose.yml
  infra/monitoring/docker-compose.yml
  infra/monitoring/grafana/provisioning/dashboards/cadvisor.json
  infra/monitoring/grafana/provisioning/dashboards/dashboard.yml
  infra/monitoring/grafana/provisioning/dashboards/jvm-micrometer.json
  infra/monitoring/grafana/provisioning/dashboards/postgresql.json
  infra/monitoring/grafana/provisioning/dashboards/redis.json
  infra/monitoring/grafana/provisioning/datasources/datasource.yml
  infra/monitoring/prometheus.yml
  package.json
Due: none

fix(infra): repair cAdvisor dashboard and align monitoring settings
  frontend/Dockerfile
  infra/app/docker-compose.yml
  infra/monitoring/grafana/provisioning/dashboards/cadvisor.json
  infra/monitoring/grafana/provisioning/dashboards/postgresql.json
  infra/monitoring/grafana/provisioning/dashboards/redis.json
Due: none
